@import "reset.scss";
@import "base.scss";

body{
    font-family:$font;
    font-size: 16px;
    box-sizing: border-box;

};
main{
    // banner=========================================================
    section.banner{
        // outline: 1px red solid;
        width: 100%;
        background-color: $Primary1;
        background-image: url(../img/top_bg.png);
        background-position: center 80px;
        background-repeat: no-repeat;
        background-size: 340% 92%;
        box-sizing: border-box;
        padding: 0 22%;
        @include pad(){
            padding: 0 25px;
        }
        .wrapper{
            width: 100%;
            margin:0 auto;
            padding: 65px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            box-sizing: border-box;
            h2{
                color: #fff;
            }
            // 按鈕
            .btn{
                width: 200px;
                background-color: $Primary2;
                color: #fff;
                line-height: 57px;
                font-weight: 700;
                font-size: 18px;
                letter-spacing: 0.2em;
                box-shadow: 0px 0px 20px rgba(250, 163, 163, 0.91);
                border-radius: 50px;
                border: 0px;
                cursor: pointer;
                margin: 32px 0;
                text-decoration: none;
                text-align: center;
                transition: all 0.3s ease;
                position: relative;
                z-index: 1;
                &:hover, &:focus{
                    color: #fff;
                }
                &:before{
                    content: "";
                    background: $Primary2;
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                    position: absolute;
                    left: 0;
                    top: 0;
                    z-index: -1;
                }
                &::after{
                    content: "";
                    background: linear-gradient(124deg,#ff2400, #e81d1d, #e8b71d, #e3e81d, 
                                #1de840, #1ddde8, #2b1de8, #dd00f3,#dd00f3 );
                    background-size: auto;
                    background-size: 400%;
                    width: calc(100% + 4px);
                    height: calc(100% + 4px);
                    border-radius: 10px;
                    filter: blur(5px);
                    opacity: 0;
                    position: absolute;
                    left: -2px;
                    top: -2px;
                    z-index: -2;
                    transition: all 0.3s ease-in-out;
                    animation: move 20s linear infinite;
                }
                &:hover:after{ opacity: 1; }
            }
            
            .text{
                width: 100%;
                background-color: $Primary3;
                border-radius: 20px;
                border: $Primary2 2px solid;
                color: $Primary1;
                padding: 0px 16px 24px;
                position: relative;
                box-sizing: border-box;
                .title{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 20px 0;
                    h5{
                        margin: 0 5px;
                    }
                }
                ul{
                    list-style: decimal;
                    li{
                        margin-left: 25px;
                        line-height: 180%;
                    }
                }
                // 船+泡泡+船槳
                .supBubble {
                    img {
                        display: block;
                        // sup
                        &:first-child {
                            position: absolute;
                            right: 1%;
                            top: -8%;
                        }
                        // 泡泡
                        &:nth-child(2) {
                            width: 20px;
                            position: absolute;
                            right: 4%;
                            top: -13%;
                            animation: bubble1 3s linear infinite;
                        }
                        // 泡泡2
                        &:nth-child(3) {
                            position: absolute;
                            right: 2%;
                            top: -19%;
                            animation: bubble2 3s linear infinite;
                        }
                        // 船槳
                        &:last-child {
                            position: absolute;
                            right: 1%;
                            top: -5%;
                            animation: paddle 2.3s linear infinite;
                        }
                    }
                }
                // 船跟煙火
                .supFire {
                    img {
                        display: block;
                        &:first-child {
                            position: absolute;
                            left: 33px;
                            bottom: -53px;
                        }
                        &:nth-child(2){
                            position: absolute;
                            left: 0;
                            bottom: -50px;
                            animation: fire 1.5s forwards infinite;
                        }
                        &:last-child {
                            position: absolute;
                            left: 33px;
                            animation: paddle 2.3s linear infinite;
                            bottom: -42px;
                        }
                    }
                }
            }
            
        }
    }
    // banner結束=========================================================
    // 海浪=========================================================
    section.bgWave{
        width: 100%;
        overflow: hidden;
        .wave{
            height: 109px;
            width: 200%;
            background-repeat: repeat-x;
            background-image: url("../img/sea.png");
            animation: wave 15s linear infinite;
        }
    }
    // 海浪結束=========================================================
    // 表單=========================================================
    .formWrapper{
        width: 100%;
        background-color: $Primary4;
        box-sizing: border-box;
        padding: 80px 22% 60px;
        @include pad(){
            padding: 80px 25px 60px;
        }
        .form{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .title{
                align-items: center;
                border: 2px solid $Primary2;
                width: 123px;
                line-height: 43px;
                border-radius: 50px;
                box-shadow: 0px 1px 10px rgba(73, 72, 72, 0.25);
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%, -50%);
                position: relative;
                background-color: #fff;
                color: $Primary2;
                p{
                    font-size: 18px;
                    letter-spacing: 7px;
                    font-weight: 700;
                    text-align: center;
                    text-indent: 12px;
                }
                img{
                    position: absolute;
                    top: -11px;
                    right: -39px;
                    animation: turtle 2s linear infinite;
                }
            }
            .formContent{
                position: relative;
                box-sizing: border-box;
                width: 100%;
                border: 2px solid $Primary2;
                border-radius: 16px;
                box-shadow: 0px 1px 20px rgba(73, 72, 72, 0.25);
                background-color: #fff;
                padding: 0px 16px 41px;
                .list{
                    margin: 28px auto 0;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    label {
                        margin-bottom: 10px;
                        width: fit-content;
                        font-size: 16px;
                        color: $Primary1;
                        position: relative;
                        &::after {
                            display: block;
                            color: $Primary2;
                            content: "*";
                            width: 5px;
                            position: absolute;
                            top: 0;
                            right: -5px;
                        }
                    }
                    img{
                        display: block;
                        position: absolute;
                        right: 3%;
                        top: 63%;
                    }
                    input{
                        box-sizing: border-box;
                        width: 100%;
                        border-radius: 20px;
                        border: 1px solid #204379;
                        padding: 8px 16px;
                        box-sizing: border-box;
                        height: 57px;
                        letter-spacing: 0.15em;
                        outline: 0;
                        /*移除箭頭樣式*/
                        appearance:none;
                        -moz-appearance:none;
                        -webkit-appearance:none;
                        &:focus{
                            border: 3px solid #93BBF9;
                        }
                        &::-webkit-calendar-picker-indicator {
                            opacity: 0;
                        }
                    }
                    // 格式錯誤邊框
                    .wrong{
                        border: 3px solid #E06D6D;
                    }
                    .wrongTest{
                        color: #E06D6D;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 140%;
                        position: absolute;
                        bottom: -21px;
                        left: 0px;
                    }
                }
            }
            // 按鈕
            .submit{
                width: 200px;
                background-color: $Primary2;
                color: #fff;
                line-height: 57px;
                font-weight: 700;
                font-size: 18px;
                letter-spacing: 0.2em;
                box-shadow: 0px 4px 10px rgba(40, 35, 35, 0.35), 0px -4px 10px rgba(255, 255, 255, 0.9);
                border-radius: 50px;
                border: 0px;
                cursor: pointer;
                margin: 32px ;
                transition: all 0.3s ease-in;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: space-around;
                padding: 0 28px;
                &:hover{
                    transform: scale(1.1);
                    transition: all 0.3s ease-in-out;
                    background: #D3A995;
                }
            }
            // 按鈕成功
            .submitSuccess{
                color: #E6FFB1;
            }
            .submitFailure{
                color: #FFE3E3;
            }
            .error{
                width: 169px;
                font-weight: 400;
                font-size: 14px;
                line-height: 150%;
                color: #E06D6D;
                position: absolute;
                bottom: -40px;
                left: 50%;
                transform: translate(-50%, -50%);
                letter-spacing: normal;
            }
            .none{
                display: none;
            }
        }
    }
    // 表單結束=========================================================
    // 獎牌=========================================================
    .awardWrapper{
        width: 100%;
        background-color: $Primary4;
        background-image: url(../img/sand.png);
        box-sizing: border-box;
        padding-top: 63px;
        padding-bottom: 45px;
        display: flex;
        justify-content: center;
        @include pad(){
            padding: 63px 4px 45px;
        }
        ul.award{
            margin: 0 auto ;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: flex-start;
            column-gap: 33px;
            row-gap: 47px;
            width: 600px;
            @media all and (max-width: 666px) {
                column-gap: 17px;
                width: 375px;
            }

            li.awardItem{
                width: 178px;
                height: 112px;
                background: #FFFFFF;
                box-shadow: 0px 8px 0px #EDEEF0;
                border-radius: 20px;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
                position: relative;
                .certificate{
                    background-repeat: no-repeat;
                    position: absolute;
                    top: 10%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 66px;
                    height: 78px;
                    p{
                        font-weight: 700;
                        font-size: 16.916px;
                        color: #fff;
                        text-align: center;
                        line-height: 64px;
                    }
                }
                .typeA{
                    background-image: url("../img/certificateA.png");
                }
                .typeD{
                    background-image: url("../img/certificateD.png");
                }
                .awardNameA{
                    color: #B3B960;
                    margin-bottom: 22px;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 125%;
                }
                .awardNameD{
                    color: #A0BCC8;
                    margin-bottom: 22px;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 125%;
                }
                .markA{
                    border: 1px solid #B3B960;
                    padding: 3px 10px;
                    background: #FAFAFA;
                    border-radius: 50px;
                    position: absolute;
                    top: 15px;
                    right: 9px;
                    p {
                        color: #B3B960;
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 140%;
                    }
                }
                .markD{
                    border: 1px solid #A0BCC8;
                    padding: 3px 10px;
                    background: #FAFAFA;
                    border-radius: 50px;
                    position: absolute;
                    top: 15px;
                    right: 9px;
                    p {
                        color: #A0BCC8;
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 140%;
                    }
                }
            }
        }
    }
    // 獎牌結束=========================================================
    // 燈塔=========================================================
    .lighthouseWrapper{
        width: 100%;
        background-color: $Primary4;
        box-sizing: border-box;
        padding: 45px 0;
        .title{
            margin: 0 auto;
            text-align: center;
            color: $Primary1;
            display: flex;
            align-items: center;
            justify-content: center;
            .text{
                margin: 0 10px 20px;
                h4{
                    &:first-child{
                        color: $Primary2;
                    }
                }
            }
        }
        .lighthouse{
            width: 56px;
            margin: 0 auto;
        }
    }
    // 燈塔結束=========================================================
    // end========================================================
    .end{
        width: 100%;
        background-color: $Primary4;
        .marketWrapper{
            width: 100%;
            padding: 50px 0 42px;
            background-color: $Primary1;
            border-radius: 50px 50px 0px 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
            h4{
                text-align: center;
                color: #fff;
                letter-spacing: 0.2em;
                line-height: 200%;
                margin-bottom: 30px;
                img{
                    display: block;
                    margin: 0 auto;
                }
            }
        }
    }
    // end結束=========================================================
}
// 按鈕動畫
@keyframes move{
    0%{ background-position: 0 0; }
    50%{ background-position: 400% 0; }
    100%{ background-position: 0 0; }
}
// 泡泡動畫_1 
@keyframes bubble1 {
    0% {
        transform: translate(0,0);
    }
    25%{
        transform: translate(-5px,-7px);
    }
    75%{
        transform: translate(0,-14px);
    }
    100% {
        transform: translate(-5px,-21px);
    }
}
// 泡泡動畫_2 
@keyframes bubble2 {
    0% {
        transform: translate(0,0);
    }
    25%{
        transform: translate(-5px,-5px);
    }
    50%{
        transform: translate(0px,-10px);
    }
    75%{
        transform: translate(-5px,-15px);
    }
    100% {
        transform: translate(0,-20px);
    }
}
// 船槳動畫 
@keyframes paddle {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(20deg);
    }
    0% {
        transform: rotate(0deg);
    }
}
// 煙火動畫
@keyframes fire {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    50% {
        opacity: 0.5;
        transform: scale(1.5);
    }
    100% {
        opacity: 0;
        transform: scale(1.5);
    }
}
// 海浪動畫
@keyframes wave{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-50%);
    }
}
// 烏龜動畫
@keyframes turtle {
    0% {
        transform: rotate(0deg) translate(0,0);
    }
    25% {
        transform: rotate(-5deg) translate(-5%,2%);
    }
    50% {
        transform: rotate(0deg) translate(0,0);
    }
    75% {
        transform: rotate(5deg) translate(5%,4%);
    }
    100% {
        transform: rotate(0deg) translateX(0,0);
    }
}