<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eway</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <main id="app">
        <section class="banner">
            <div class="wrapper">
                <h2>There is no one</h2>
                <h2>who loves pain</h2>
                <!-- 按鈕 -->
                <!-- <a href="#" class="btn">
                    <span>FORM</span>
                </a> -->
                <button type="button" class="btn">FORM</button>
                <div class="text">
                    <div class="title">
                        <img src="img/cactus.png" class="cactus">
                        <h5>paragraph</h5>
                        <img src="img/cactus.png" class="cactus">
                    </div>
                    <ul>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                    </ul>
                    <div class="title">
                        <img src="img/cactus.png" class="cactus">
                        <h5>paragraph</h5>
                        <img src="img/cactus.png" class="cactus">
                    </div>
                    <ul>
                        <li>Quisque sodales leo <span class="bold underline">vitae vulputate auctor.</span></li>
                        <li>Proin ac justo ut nisl tincidunt imperdiet.Maecenas viverra libero a pellentesque blandit.</li>
                        <li> Cras tristique tellus id leo bibendum, eu dapibus nisl accumsan.</li>
                        <li>Donec ultrices sapien <span class="bold">vitae leo venenatis ullamcorper.</span></li>
                    </ul>
                    <!-- 獨木舟 & 泡泡 -->
                    <div class="supBubble">
                        <img src="./img/sup.png" alt="sup">
                        <img src="./img/bubble.png" alt="bubble">
                        <img src="./img/bubble2.png" alt="bubble">
                        <img src="./img/paddle.png" alt="paddle">
                    </div>
                    
                    <!-- 獨木舟 & 煙火 -->
                    <div class="supFire">
                        <img src="./img/sup2.png" alt="sup">
                        <img src="./img/fire.png" alt="Fireworks">
                        <img src="./img/paddle2.png" alt="paddle">
                    </div>
                </div>
            </div>
        </section>
        <section class="bgWave">
            <div class="wave"></div>
        </section>
        <!-- 表單 -->
        <section class="formWrapper">
            <div class="form">
                <div class="formContent">
                    <div class="title">
                        <p>FORM</p>
                        <img src="./img/turtle.png" alt="turtle">
                    </div>
                    <div class="list">
                        <label for="store">store</label>
                        <img src="./img/arrow.png" alt="arrow">
                        <input
                            type="text"
                            class="fromItem"
                            id="store"
                            list="storelist"
                            placeholder="placeholder text"
                            v-model.trim="dataCheck.store"
                            @blur="storeCheck"/>
                        <datalist id="storelist" class="chooseItem">
                            <option value="store1">store1</option>
                            <option value="store2">store2</option>
                            <option value="store3">store3</option>
                        </datalist>
                        <p class="wrongTest none">required</p>
                    </div>
                    <div class="list">
                        <label for="name">name</label>
                        <input
                            type="text"
                            id="name"
                            class="fromItem"
                            placeholder="placeholder text"
                            v-model.trim="dataCheck.name"
                            @keydown="nameCheck_keydown($event)"
                            @blur="nameCheck"
                            />
                        <p class="wrongTest none">required</p>
                    </div>
                    <div class="list">
                        <label for="phone">phone</label>
                        <input
                            type="number"
                            inputmode="numeric"
                            id="phone"
                            class="fromItem"
                            maxlength="10"
                            pattern="[0-9]*"
                            placeholder="placeholder text"
                            v-model.trim="dataCheck.phone"
                            @keydown="phoneCheck_keydown($event)"
                            @blur="phoneCheck"
                            />
                        <p class="wrongTest none">required</p>
                    </div>
                    <div class="list">
                        <label for="amount">Amount of consumption</label>
                        <input
                            type="number"
                            id="amount"
                            class="fromItem"
                            pattern="[0-9]*"
                            placeholder="placeholder text"
                            v-model.trim="dataCheck.amount"
                            @keydown="amountCheck_keydown($event)"
                            @blur="amountCheck"/>
                        <p class="wrongTest none">required</p>
                    </div>
                    <div class="list">
                        <label for="payment">payment</label>
                        <img src="./img/arrow.png" alt="arrow">
                        <input
                            type="text"
                            inputmode="numeric"
                            id="payment"
                            class="fromItem"
                            list="paymentlist"
                            placeholder="placeholder text"
                            v-model.trim="dataCheck.payment"
                            @blur="paymentCheck"/>
                        <datalist id="paymentlist" class="chooseItem">
                            <option value="digital payment">digital payment</option>
                            <option value="ATM">ATM</option>
                        </datalist>
                        <p class="wrongTest none">required</p>
                    </div>
                </div>
                <!-- 按鈕 -->
                <button type="button" id="submit" class="submit" @click="submitCheck">
                    <img class="success none" src="img/v.png" alt="">
                    <img class="failure none" src="img/x.png" alt="">
                    submit
                    <!-- success -->
                    <!-- failure -->
                    <span class="error none">This person does not exist</span>
                </button>
            </div>
        </section>
        <!-- 獎牌 -->
        <section class="awardWrapper">
            <ul class="award">
                <!-- 綠色獎牌 -->
                <li class="awardItem" v-for="item in awardA" :key="item.id">
                    <div class="certificate typeA">
                        <p>{{item.id}}</p>
                    </div>
                    <p class="awardNameA">{{item.name}}</p>
                    <div class="markA">
                        <p>{{item.mark}}</p>
                    </div>
                </li>
                <!-- 藍色獎牌 -->
                <li class="awardItem" v-for="item in awardD" :key="item.id">
                    <div class="certificate typeD">
                        <p>{{item.id}}</p>
                    </div>
                    <p class="awardNameD">{{item.name}}</p>
                    <div class="markD">
                        <p>{{item.mark}}</p>
                    </div>
                </li>
            </ul>
        </section>
        <!-- 燈塔 -->
        <section class="lighthouseWrapper">
            <div class="title">
                <img src="img/leftLine.png" alt="leftLine">
                <div class="text">
                    <h4>13.32</h4>
                    <h4>who seeks after it and<br>
                        wants to have it
                    </h4>
                </div>
                <img src="img/rightLine.png" alt="rightLine">
            </div>
            <div class="lighthouse">
                <img src="img/lighthouse.png" alt="lighthouse">
            </div>
        </section>
        <!-- 最下面區域 -->
        <section class="end">
            <div class="marketWrapper">
                <h4>Neque porro quisquam<br>
                    est qui dolorem!
                </h4>
                <img src="img/market.png" alt="market">
            </div>
        </section>
    </main>
    <script src="vendors/vue/vue.global.prod.js"></script>
    <script>
        const app = Vue.createApp({
            data(){
                return{
                    dataCheck:{
                        store:"",
                        name:"",
                        phone:"",
                        amount:"",
                        payment:""
                    },
                    checkdata:false,
                    awardA:[
                        {
                            id: "A",
                            name: "dehumidifier",
                            mark: "ONE",
                        },
                        {
                            id: "B",
                            name: "range hood",
                            mark: "ONE",
                        },
                        {
                            id: "C",
                            name: "vacuum cleaner",
                            mark: "ONE",
                        }
                    ],
                    awardD:[
                        {
                            id: "D",
                            name: "toaster",
                            mark: "ONE",
                        },
                        {
                            id: "E",
                            name: " scale",
                            mark: "ONE",
                        },
                        {
                            id: "F",
                            name: "straightening iron",
                            mark: "ONE",
                        },
                        {
                            id: "G",
                            name: "vacuum cleaner",
                            mark: "FIVE",
                        },
                        {
                            id: "H",
                            name: "rice cooker",
                            mark: "TEN",
                        }
                    ]
                }
            },
            mounted(){

            },
            methods:{
                // store條件判斷
                storeCheck(){
                    let store = document.getElementById('store');
                    if(this.dataCheck.store == "store1" || this.dataCheck.store == "store2" || this.dataCheck.store == "store3"){
                        // 驗證通過
                        store.classList.remove('wrong');
                        store.nextElementSibling.nextElementSibling.classList.add('none');
                        this.checkdata = true;
                    }else{
                        store.classList.add('wrong');
                        store.nextElementSibling.nextElementSibling.classList.remove('none');
                        this.checkdata = false;
                    }
                },
                nameCheck_keydown(e){
                    // console.log(e.which);
                    if((e.which >= 48 && e.which <= 57) || (e.which > 8 && e.which <=9) || (e.which >= 96 && e.which < 105)){
                        e.preventDefault();
                    }
                },
                nameCheck(){
                    let name = document.getElementById('name');
                    if(this.dataCheck.name == ""){
                        // 若為空值
                        name.classList.add('wrong');
                        name.nextElementSibling.classList.remove('none');
                        this.checkdata = false;
                    }else{
                        // 驗證通過
                        name.classList.remove('wrong');
                        name.nextElementSibling.classList.add('none');
                        this.checkdata = true;
                    }
                },
                phoneCheck_keydown(e){
                    if((e.which >= 48 && e.which <= 57) || (e.which >= 8 && e.which <=9) || (e.which >= 96 && e.which < 105)){

                    }else{
                        e.preventDefault();
                    }
                },
                phoneCheck(){
                    let phone = document.getElementById('phone');
                    if(this.dataCheck.phone.length !== 10){
                        // 若數字長度不為10
                        phone.classList.add('wrong');
                        phone.nextElementSibling.classList.remove('none');
                        this.checkdata = false;
                    }else{
                        // 驗證通過
                        phone.classList.remove('wrong');
                        phone.nextElementSibling.classList.add('none');
                        this.checkdata = true;
                    }
                },
                amountCheck_keydown(e){
                    if((e.which >= 48 && e.which <= 57) || (e.which >= 8 && e.which <=9) || (e.which >= 96 && e.which < 105)){

                    }else{
                        e.preventDefault();
                    }
                },
                amountCheck(){
                    let amount = document.getElementById('amount');
                    if(this.dataCheck.amount.length == 0){
                        // 若數字長度為0
                        amount.classList.add('wrong');
                        amount.nextElementSibling.classList.remove('none');
                        this.checkdata = false;
                    }else{
                        // 驗證通過
                        amount.classList.remove('wrong');
                        amount.nextElementSibling.classList.add('none');
                        this.checkdata = true;
                    }
                },
                paymentCheck(){
                    let payment = document.getElementById('payment');
                    if(this.dataCheck.payment == "ATM" || this.dataCheck.payment == "digital payment"){
                        // 驗證通過
                        payment.classList.remove('wrong');
                        payment.nextElementSibling.nextElementSibling.classList.add('none');
                        this.checkdata = true;
                    }else{
                        payment.classList.add('wrong');
                        payment.nextElementSibling.nextElementSibling.classList.remove('none');
                        this.checkdata = false;
                    }
                },
                submitCheck(){
                    let submit = document.querySelector('.submit');
                    let success = document.querySelector('.success');
                    let failure = document.querySelector('.failure');
                    let error = document.querySelector('.error');
                    // console.log(this.checkdata);
                    if(this.checkdata){
                        // 驗證通過
                        submit.classList.add('submitSuccess');
                        submit.classList.remove('submitFailure');
                        success.classList.remove('none');
                        failure.classList.add('none');
                        error.classList.add('none');
                    }else{
                        submit.classList.remove('submitSuccess');
                        submit.classList.add('submitFailure');
                        success.classList.add('none');
                        failure.classList.remove('none');
                        error.classList.remove('none');
                    };
                }
            }
        }).mount('#app');
    </script>
</body>
</html>